<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>boxnow</name>
    <displayName><![CDATA[BOX NOW]]></displayName>
    <version><![CDATA[2.4.3]]></version>
    <description><![CDATA[Allow customers to pick up orders themselves in BOX NOW lockers]]></description>
    <author><![CDATA[BOX NOW]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the BOX NOW Delivery module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>