.boxnow-edit-locker{font-size:0.85em;}
.boxnow-edit-locker .material-icons{font-size:13px;margin-top:-3px;}
.boxnow-cancel-voucher{font-size:0.8em;color:#cc0000}
.boxnow-cancel-voucher .material-icons{font-size:13px;margin-top:-3px;}
.locker-field{width:100px}
.boxnow-clear-float{clear:both}